.room_item{
    border: 1px solid #ccc;
    margin: 4px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    width: 70px;
    height: 25px;
}

.room_status{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
}

.room_1{
background-color: green;
}
.room_2{
    background-color: tomato;
}
.room_3{
    background-color: steelblue;
}
.room_4{
    background-color: violet;
}
